<div id="<%= dom_id(comment, "content") %>" class="flex flex-col gap-4" data-controller="comment-reply">
  <p class="my-5">
    <div class="flex flex-row gap-4">
      <strong >
      <%= comment.user.username %>
      </strong>
      <span>
        <%= time_ago_in_words(comment.created_at) + " ago" %>
      </span>
    </div>
    <%= comment.body %>
  </p>
  <p>

  </p>

  <button data-action="comment-reply#toggleReplyForm">Reply</button>

  <div class="voting-buttons flex flex-row gap-8">
    <%= render 'shared/vote', votable: comment %>

    <div data-comment-reply-target="replyForm" style="display: none">
      <%= turbo_frame_tag "reply_form_#{comment.id}" do %>
        <%= render partial: 'comments/reply_form', locals: { parent_comment: comment } %>
      <% end %>
    </div>
  </div>
</div>
