<div id="reply_form_#<%= dom_id(parent_comment) %>"<%=  %>>
  <% comment = parent_comment.comments.build %>
  <%= form_with model: [parent_comment, comment], local: true, class: "form", data: { target: "comment-reply.replyForm" } do |form| %>
    <div class="field">
      <%= form.label :body, "Reply" %>
      <%= form.text_area :body, id: :comment_body %>
    </div>
    <div class="action">
      <%= form.submit "Send Reply" %>
      <button type=button data-action="comment-reply#hideReplyForm">Cancel</button>
    </div>
  <% end %>
</div>
