<div id="<%= dom_id(post) %>" class="flex flex-col gap-4">
  <%= turbo_stream_from 'comments' %>

  <div class=" flex flex-row gap-4">
    <strong>
      <%= "u/" + post.user.username %>
    </strong>

    <span>
      <%= time_ago_in_words(post.created_at) + " ago" %>
    </span>
  </div>

  <h2>
    <%= post.title %>
  </h2>

  <p>
    <%= post.content %>
  </p>
  <div class="w-24">
    <%= render 'shared/vote', votable: post %>
  </div>

  <div id="<%= dom_id(post, "comments_count") %>" class="comments">
    <%= link_to pluralize(post.comments.count, "Comment"), post_path(post), class: "mb-1 block font-medium" %>
  </div>

</div>
