<div class="mx-auto md:w-2/3 w-full flex flex-col">
  <%= turbo_stream_from 'posts' %>
  <%= turbo_stream_from 'comments' %>

  <%= content_for :title, @post.title %>

  <div class="mx-auto">
    <%= render partial: 'shared/notice' %>

    <%= render @post %>

    <%= link_to "Edit this post", edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this post", @post, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <div>
      <%= render 'comments/form', commentable: @post, comment: @new_comment %>

      <div id="<%= dom_id(@post, 'comments') %>" class="comments-container">
        <% @comments.each do |comment| %>
          <%= render partial: 'comments/comment', locals: { comment: comment, post: @post } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
