<!DOCTYPE html>
<html class="dark">
<head>
  <title>MiniReddit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>

  <%= javascript_importmap_tags %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
</head>

<body class="w-full text-primary-light bg-background-light dark:text-primary-dark dark:bg-background-dark">
<header class="sticky top-0 w-full border-b-2 bg-background-light border-border-light dark:bg-background-dark dark:border-border-dark" data-controller="navbar" data-action="resize@window->navbar#closeOnBigScreen keyup@window->navbar#closeWithKeyboard">

    <nav class="flex w-auto flex-row items-center justify-between gap-8 p-4">
      <div class="md:hidden" role="button" data-action="click->navbar#toggle">
        dropdown
      </div>
      <a href="/" class="text-2xl font-bold">MiniReddit</a>
      <div>
        <% if current_user.nil? %>
          <%= button_to "Log In", new_user_session_path, method: :get %>
        <% else %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </nav>
    <nav class="hidden bg-pink-500 w-80 h-screen overflow-y-auto z-10" data-navbar-target="content">
      <%= (1..200).each do |i| %>
        <p><%= i %></p>
      <% end %>
    </nav>
</header>

<div class="flex flex-row">
  <div class="hidden w-1/6 flex-col justify-between border-r-2 p-4 border-border-light dark:border-border-dark md:flex">
    <p>top</p>
    <p>bottom</p>
  </div>
  <main class="container mx-auto flex w-5/6 p-4 flex-grow">
    <%= yield %>
  </main>
</div>

</body>
</html>

