<!DOCTYPE html>
<html class="<%= cookies[:theme] == 'dark' ? 'dark' : '' %>">
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      MiniReddit
    <% end %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>

  <%= javascript_importmap_tags %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
</head>

<body class="flex h-full w-full flex-col overflow-hidden text-primary-light bg-background-light dark:text-primary-dark dark:bg-background-dark"
      data-controller="navbar"
      data-navbar-hidden-class="hidden"
      data-navbar-blur-class="blur">

<%= render partial: 'shared/header' %>

<div class="flex w-full flex-row overflow-hidden scroll-pt-8">
  <nav class="hidden h-screen w-80 flex-col overflow-y-auto border-r-2 px-2 border-border-light bg-background-light dark:border-border-dark dark:bg-background-dark md:flex" data-navbar-target="content">
    <!-- Nav content -->
    <div>
      <p>top</p>
      <% (1..100).each do |i| %>
        <p><%= i %></p>
      <% end %>
    </div>
    <p>bottom</p>
  </nav>

  <main class="relative flex-grow h-screen overflow-y-auto">
    <div class="absolute inset-0 bg-black bg-opacity-50 z-40 hidden md:hidden" data-navbar-target="overlay" data-action="click->navbar#close"></div>
    <div class="p-4">
      <%= yield %>
    </div>
  </main>
</div>
</body>
</html>
