<!DOCTYPE html>
<html class="<%= cookies[:theme] == 'dark' ? 'dark' : '' %>">
<head>
  <title>MiniReddit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>

  <%= javascript_importmap_tags %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
</head>

<body class="w-full text-primary-light bg-background-light dark:text-primary-dark dark:bg-background-dark" data-controller="navbar">
<header
  class="sticky top-0 flex w-full flex-row items-center gap-4 border-b-2 bg-background-light border-border-light dark:bg-background-dark dark:border-border-dark"
  data-action="resize@window->navbar#closeOnBigScreen keyup@window->navbar#closeWithKeyboard">


  <nav class="flex w-auto flex-row items-center justify-between gap-8 p-4">

    <div class="md:hidden" role="button" data-action="click->navbar#toggle">
      <%= inline_svg_tag("burger-menu-icon.svg", class: "w-6 h-6 fill-current text-gray-600 dark:text-gray-300") %>
    </div>
    <a href="/" class="text-2xl font-bold">MiniReddit</a>
    <div>
      <% if current_user.nil? %>
        <%= button_to "Log In", new_user_session_path, method: :get %>
      <% else %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </nav>

  <div
    role="button"
    data-controller="theme" data-theme-target="toggle"
    data-action="click->theme#switchTheme"
    class="h-6 w-6">
    <% if cookies[:theme] == 'dark' %>
      <span>
        <%= inline_svg_tag("dark-icon.svg", class: "w-6 h-6 fill-current text-gray-600 dark:text-gray-300") %>

      </span>
    <% else %>
      <span>
        <%= inline_svg_tag("light-icon.svg", class: "w-6 h-6 fill-current text-gray-600 dark:text-gray-300") %>
      </span>
    <% end %>
  </div>


</header>

<div class="flex flex-row">
  <nav class="z-10 h-screen px-2 w-80 flex-col overflow-y-auto border-r-2 border-border-light bg-background-light dark:border-border-dark dark:bg-background-dark md:flex" data-navbar-target="content">
    <div>
      <p>top</p>
      <% (1..10).each do |i| %>
        <p><%= i %></p>
      <% end %>
    </div>
    <p>bottom</p>

  </nav>
  <main class="container mx-auto flex w-5/6 flex-grow p-4">
    <%= yield %>
  </main>
</div>

</body>
</html>
